{% extends 'base.html' %}

{% block content %}

<h1>Welcome to PlebTools</h1>

<div class="card" style="width: 18rem;">
    <img src="/static/bc.jpg" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Dashboard</h5>
      <p class="card-text">This is how it all started - late one night in the garage.  Stay up-to-date with the blockchain with this block clock!</p>
      <a href="/dashboard" class="btn btn-primary">Open Dashboard</a>
    </div>
  </div>

{% endblock %}
