{% extends 'base.html' %}

{% block content %}

<style>
    body {
      background-color: #140f2a;
      color: aliceblue;
    }
    h1 {
      text-align: center;
      color: aliceblue
    }
    p {
      text-align: center;
      color: aliceblue
    }
</style>

<h1 style="color: orange;">Contribute:</h1>
<p>Here are a few ways to contribute to this project:</p>
<br>
<h1 style="color: red;">Give feedback:</h1>
<p>please reach out to me on Twitter: <a href="https://twitter.com/PlebeiusG" target="_blank">@PlebeiusG</a>.</p>
<br>
<h1 style="color: green;">Write code:</h1>
<p>Watch this <a href="http://www.youtube.com">YouTube tutorial</a> about contributing code.</p>
<p>If you would like to contribute code to this project and need help, please reach out to me on Twitter: <a href="https://twitter.com/PlebeiusG" target="_blank">@PlebeiusG</a>.</p>
<br>
<h1 style="color: rgb(215, 16, 169);">Donate:</h1>
<p>btc pay server integration right here?</p>

{% endblock %}
